/* *********************************************** Footer    ************************************************** */

.img-footer {
    position: relative;
    background-image: url(../img/footer-picture.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.184);
    z-index: 1;
}

.logo-footer {
    position: relative;
    z-index: 2;
    width: 30%;
    margin-top: 9%;
    margin-left: 3%;
}

.info-footer {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 329px;
}

.info-footer .info {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: 89px;
}

h4 {
    font-family: "source-sans-pro", sans-serif;
}

.a-propos p {
    color: #888888;
    font-family: "source-sans-pro", sans-serif;
}

.nav-footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: 0.2s ease-in-out;
    font-family: "source-sans-pro", sans-serif;
}

.nav-footer a:hover {
    color: #888888;
}

.billets-achat {
    margin-right: 89px;
}

.billets-achat p {
    text-align: center;
    line-height: 35px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: white;
}

.billets-achat a.boutton {
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.copyright-reseau-sociaux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: black;
}

.copyright {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.copyright p {
    color: #888888;
}

.copyright2023 {
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
}

.copyright2023 p {
    color: #888888;
    margin-left: 5px;
}

.reseau-sociaux img {
    width: 25px;
    height: 25px;
    margin-right: 40px;
}

h4 {
    color: white;
}