/* ***********************************************   Nav  ************************************************** */
span.material-symbols-outlined {
    color: #ff5950;
    width: 24px;
    height: 24px;
}

.dropdown {
    position: relative;
    display: flex;
    transition: 2s ease-in-out;
}

.dropdown:hover {
    cursor: default;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
    transition: 1s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.dropdown-content a:hover {
    color: #ff5950;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}

a.btn.btn-light {
    background-color: #ff595056;
    border: none;
    width: 210px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 0px;
    transition: 0.2s ease-in-out;
    font-family: "source-sans-pro", sans-serif;
}

a.btn.btn-light:hover {
    background-color: #ff59507a;
    color: white;
}

.liens-nav {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.home {
    display: flex;
    justify-content: space-around;
}


.liens-nav a {
    color: rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    padding: 0px 40px 1px 3px;
}

p.programmation {
    color: rgb(255, 255, 255);
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    display: inline;
    padding: 0px 40px 0px 3px;
    transition: 0.2s ease-in-out;
}

p.programmation:hover {
    color: #ff5950;

}

.dropdown-content a {
    padding: none;
}

.span-home {
    position: relative;
}

span.home {
    position: absolute;
    bottom: 5px;
    right: -3px;
}

.contact {
    display: flex;
    justify-content: space-around;
}

a.lien {
    transition: 0.2s ease-in-out;
}

a.lien:hover {
    color: #ff5950;
}

/* *********************************************** header   ************************************************** */

.img {
    position: relative;
    background-image: url(../img/image-from-rawpixel-id-5924378-jpeg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 404px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.682);
    z-index: 1;
}

.h1 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.h1 img {
    transform: rotate(-25deg);
    animation: shake 2s infinite alternate;
}


.h1 img:last-child {
    transform: rotate(25deg);
    animation: shake 2s infinite alternate;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-2px, );
    }

    20% {
        transform: translate(2px, );
    }

    30% {
        transform: translate(-2px, );
    }

    40% {
        transform: translate(2px, );
    }

    50% {
        transform: translate(-2px, );
    }

    60% {
        transform: translate(2px, );
    }

    70% {
        transform: translate(-2px, );
    }

    80% {
        transform: translate(2px, );
    }

    90% {
        transform: translate(-2px, );
    }

    100% {
        transform: translate(0, );
    }


}

h1 {
    color: white;
    font-family: "devils-haircut", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 99px;
}


/* *********************************************** Main ************************************************** */

h3 {
    text-align: center;
    font-size: 30px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteneur-forfait p.admission {
    text-align: center;
    font-size: 20px;
    font-family: "source-sans-pro", sans-serif;
    line-height: 13px;
    font-style: normal;
}

.conteneur-forfait p.admission2 {
    text-align: center;
    font-size: 20px;
    font-family: "source-sans-pro", sans-serif;
    line-height: 13px;
    font-style: normal;
    color: #888888;
}

.conteneur-forfait-reservation {
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 55%;
    margin-top: 62px;
}

.forfaits {
    width: 550px;
    height: 320px;
    margin-right: 25px;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 3px 8px #0000004f;
}

.info-conteneur {
    width: 200px;
    height: 120px;
    background-color: grey;
}

.forfaits .info {
    display: flex;
    justify-content: space-around;
    background-color: #8041ff;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 150;
    border-radius: 10px 10px 0px 0px;
}

.forfaits .info p {
    margin-bottom: 0px;
    color: white;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.forfaits .info p.nom {
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
}

.forfaits .info p.prix {
    font-size: 22px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
}

.forfaits .info p.jour {
    font-size: 22px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
}

.forfaits .info p:first-child {
    margin-top: 25px;
}

.forfaits .info p:last-child {
    margin-bottom: 25px;
}

.forfaits .contenue {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
}

.forfaits .contenue p {
    margin-bottom: 0px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.forfaits .contenue p:first-child {
    margin-top: 15px;
}

.forfaits .contenue p:last-child {
    margin-bottom: 0px;
}

.forfaits .contenue:last-child {
    border-radius: 0px 0px 10px 10px;

}

a.reservation {
    display: block;
    text-decoration: none;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 400px;
    background-color: #8041ff;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

a.reservation:hover {
    background-color: #ff5950;
}


/* *********************************************** Footer    ************************************************** */

.img-footer {
    position: relative;
    background-image: url(../img/footer-picture2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay-footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.184);
    z-index: 1;
}

.logo-footer {
    position: relative;
    z-index: 2;
    width: 30%;
    margin-top: 9%;
    margin-left: 3%;
}

.info-footer {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 329px;
}

.info-footer .info {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: 89px;
}

h4 {
    font-family: "source-sans-pro", sans-serif;
}

.a-propos p {
    color: #888888;
    font-family: "source-sans-pro", sans-serif;
}

.nav-footer a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: 0.2s ease-in-out;
    font-family: "source-sans-pro", sans-serif;
}

.nav-footer a:hover {
    color: #888888;
}

.billets-achat {
    margin-right: 89px;
}

.billets-achat p {
    text-align: center;
    line-height: 35px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: white;
}

.billets-achat a.boutton {
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0px;
}

.copyright-reseau-sociaux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    background-color: black;
}

.copyright {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.copyright p {
    color: #888888;
}

.copyright2023 {
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
}

.copyright2023 p {
    color: #888888;
    margin-left: 5px;
}

.reseau-sociaux img {
    width: 25px;
    height: 25px;
    margin-right: 40px;
}

h4 {
    color: white;
}

.conteneur-forfait-reservation .forfait:last-child {
    margin-left: 0px;
}


span.arrow {
    color: #ffffff;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 136px;
    right: 12px;
    background-color: #ff5950;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 50;
}

#back-to-top.show {
    display: block;
}

@media screen and (max-width: 1200px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .lieux-date {
        width: 400px;
    }

    a.btn.btn-light {
        width: 132px;
    }

    .conteneur-groupe {

        grid-template-columns: repeat(2, 1fr);
    }

    .billets-achat p {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .billets-achat a.boutton {

        margin-top: 10px;
    }

    .copyright-reseau-sociaux {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        height: 178px;
        background-color: #111111;
    }

    .reseau-sociaux a img {
        margin-right: 30px;
    }

    .reseau-sociaux a img:last-child {
        margin-right: 0px;
    }

    .reseau-sociaux {
        width: 25%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .copyright {
        margin-left: 0%;
        transform: translateX(0%);
        text-align: center;
        width: 100%;
    }

    .copyright p {
        margin-bottom: 10px;
    }

    .copyright2023 {
        display: flex;
        justify-content: center;
        margin-left: 0%;
        transform: translateX(0%);
        width: 100%;
        margin-top: 10px;

    }

    .conteneur-laisser-passer {
        height: 308px;
    }

    .conteneur-laisser-passer p {
        font-size: 18px;
    }

    h4.laisser-passer {

        font-size: 35px;

    }

    .groupe:hover .date p {
        font-size: 20px;
    }

    .groupe:hover .heure p {
        font-size: 30px;
    }

    .groupe:hover p.ville {
        font-size: 29px;
    }

    .img {
        height: 362px;
    }

}



/* ******************************************MOBILE*********************************************** */
.menu-burger {
    flex-direction: column;
    cursor: pointer;
    display: none;
    transition: 0.2s ease-in-out;

}

.bar {
    width: 45px;
    height: 3px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(225, 101, 47, .2);
    transition: all .4s ease-in-out;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 3px;
    background: white;
    border-radius: 3px;
    /* box-shadow: 0 2px 5px rgba(225, 101, 47, .2); */
    transition: all .4s ease-in-out;
}

.bar::before {
    transform: translateY(-16px);
}

.bar::after {
    transform: translateY(16px);
}

.menu-croix.open .bar {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    animation: fadeOut 50ms ease-in;
}

@keyframes fadeOut {
    from {
        background: white;
    }

    to {
        background: transparent;
    }
}


.menu-croix.open .bar::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-croix.open .bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


@media screen and (max-width: 959px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .menu-burger {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;

    }

    .appel-action {
        top: 31%;
    }

    .liens-nav {
        display: none;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        background-color: #00000000;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 20px;
        z-index: 30;
    }

    span.home {
        bottom: 15px
    }

    .dropdown-content {
        position: relative;
    }

    a.btn.btn-light {
        margin-right: 38px;
        order: 3;
        margin-top: 27px;
        width: 165px;
    }

    .contact,
    .btn {
        margin-top: 10px;
    }

    .liens-nav {
        margin-top: 30px;
    }

    .liens-nav a {
        color: #fff;
        font-size: 18px;
        margin-bottom: 10px;
        text-decoration: none;
        text-align: center;
    }

    .dropdown {
        order: 2;
        margin-top: 10px;
    }

    .contact {
        order: 1;
    }

    .menu-burger.open+.liens-nav {
        display: flex;
    }

    .menu-burger.open .dropdown:hover .contact,
    .menu-burger.open .dropdown:hover .btn {
        margin-top: 120px;
    }

    .nav {
        margin-right: 17px;
    }

    form input {
        width: 48%;
        border: 4px solid #ff5950;
        margin-top: -15px;
        font-size: 20px;
    }

    input::placeholder {
        font-family: "source-sans-pro", sans-serif;
        font-size: 22px;
        color: #0000003d;
        padding-left: 3px;
    }

    .h1 {
        margin-top: 5%;
        margin-bottom: 0px;
        z-index: 1;
    }

    h1 {
        font-size: 74px;
    }

    .h1 img {
        width: 90px;
        height: 90px;
    }

    .h1 img:last-child {

        width: 90px;
        height: 90px;
    }

    .info-footer {
        flex-direction: column;
        height: 650px;
        justify-content: space-evenly;
    }

    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-footer .info {
        margin-left: 0px;
    }

    .a-propos p {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    .nav-footer a {
        display: block;
        text-align: center;
    }

    .billets-achat {
        margin: 0px;
    }

    a.lien-groupe {
        padding: 10px 96px;
    }

    .background {
        background-image: none;
    }

    .background .overlay {
        background-color: white;
    }

    .conteneur-groupe {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 17px;
        margin-top: 4%;

    }

    .img {
        height: 356px;
    }


    form input {
        width: 65%;
        margin-top: 18px;
        border: 5px solid #ff5950;
    }

    .conteneur-forfait-reservation {
        width: 82%;
    }

    .menu-burger {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 15;
    }

    .nav {
        margin-right: 0px;
    }

    .liens-nav {
        display: none;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        top: -30px;
        right: 0;
        width: 100%;
        padding: 20px;
        z-index: 10;
        height: 100vh;
        padding-top: 88px;
    }

    .logo {
        position: relative;
        z-index: 15;
    }

}


@media screen and (min-width:480px) and (max-width: 767px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .groupe:hover p.nom {

        font-size: 42px;
    }

    .groupe:hover .date p {
        font-size: 18px;
    }

    .conteneur-forfait-reservation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }

    .forfaits {
        width: 273px;
        height: 313px;
        margin-right: 0px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 32px;
    }

    .conteneur-forfait p.admission2 {
        line-height: 22px;
    }

    main {
        margin-right: 10px;
        margin-left: 10px;
    }

    .menu-burger {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 15;
    }

    .nav {
        margin-right: 0px;
    }

    .liens-nav {
        display: none;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        top: -30px;
        right: 0;
        width: 100%;
        padding: 20px;
        z-index: 10;
        height: 100vh;
        padding-top: 88px;
    }

    .logo {
        position: relative;
        z-index: 15;
    }

    .h1 {
        margin-top: 12%;
        margin-bottom: 0px;
        z-index: 1;
    }

}


@media screen and (min-width: 360px)and (max-width: 479px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }


    .bar::before {
        transform: translateY(-12px);

    }

    .bar::after {
        transform: translateY(12px);

    }

    .nav {
        margin-right: 0px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 8px;
    }

    .liens-nav {
        margin-top: 0px;
        padding-right: 10px;
    }

    .liens-nav a.lien {
        padding-right: 10px;
        margin-bottom: 0px;
    }

    p.programmation {
        padding-right: 10px;
    }

    .liens-nav a.btn.btn-light {
        margin-right: 9px;
        margin-top: 7px;
    }

    span.home {
        bottom: 6px;
    }

    .billets-achat p {
        font-size: 20px;
    }

    .copyright p {
        font-size: 13px;
    }

    .reseau-sociaux a {
        margin-right: 10px;
    }

    .reseau-sociaux a:last-child {
        margin-right: 0px;
    }

    .img {
        height: 279px;
    }

    .groupe:hover p.nom {

        font-size: 35px;
    }

    .groupe:hover .date p {
        font-size: 18px;
    }

    .groupe:hover .heure p {
        display: none;
    }

    .groupe {
        max-height: 87%;
        width: 89%;
    }

    .conteneur-groupe {
        grid-row-gap: 0px;
    }

    .conteneur-forfait-reservation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }

    .forfaits {
        width: 273px;
        height: 313px;
        margin-right: 0px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 32px;
    }

    .conteneur-forfait p.admission2 {
        line-height: 22px;
    }

    main {
        margin-right: 10px;
        margin-left: 10px;
    }

    .conteneur-forfait-reservation {
        margin-right: 16px;
    }

    a.reservation {
        width: 273px;
    }

    .menu-burger {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 15;
    }

    .nav {
        margin-right: 0px;
    }

    .liens-nav {
        display: none;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        top: -30px;
        right: 0;
        width: 100%;
        padding: 20px;
        z-index: 10;
        height: 100vh;
        padding-top: 88px;
    }

    .logo {
        position: relative;
        z-index: 15;
    }

    .h1 {
        margin-top: 11%;
        margin-bottom: 0px;
        z-index: 1;
    }

    .liens-nav {
        margin-top: 0px;
        padding-right: 20px;
        padding-top: 100px;
    }

    #back-to-top {
        bottom: 14px;
        padding: 5px 7px;
    }

}


@media screen and (min-width: 320px)and (max-width: 359px) {


    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    .nav {
        margin-right: 0px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 8px;
    }

    .liens-nav {
        margin-top: 0px;
        padding-right: 10px;
    }

    .liens-nav a.lien {
        padding-right: 10px;
        margin-bottom: 0px;
    }

    p.programmation {
        padding-right: 10px;
    }

    .liens-nav a.btn.btn-light {
        margin-right: 9px;
        margin-top: 7px;
    }

    span.home {
        bottom: 6px;
    }

    a.fleche {
        top: 84%;
    }


    a.lien-groupe {
        padding: 10px 30px;
        font-size: 16px;
    }


    .billets-achat p {
        font-size: 20px;
    }

    .copyright p {
        font-size: 13px;
    }

    .reseau-sociaux a {
        margin-right: 10px;
    }

    .reseau-sociaux a:last-child {
        margin-right: 0px;
    }

    .logo img {
        width: 113px;
    }

    .liens-nav {
        margin-top: 0px;
        padding-right: 10px;
    }

    .liens-nav a.lien {
        padding-right: 10px;
        margin-bottom: 0px;
    }

    p.programmation {
        padding-right: 10px;
    }

    .liens-nav a.btn.btn-light {
        margin-right: 9px;
        margin-top: 7px;
    }

    span.home {
        bottom: 6px;
    }

    .billets-achat p {
        font-size: 20px;
    }

    .copyright p {
        font-size: 13px;
    }

    .reseau-sociaux a {
        margin-right: 10px;
    }

    .reseau-sociaux a:last-child {
        margin-right: 0px;
    }

    .img {
        height: 279px;
    }

    .groupe:hover p.nom {

        font-size: 35px;
    }

    .groupe:hover .date p {
        font-size: 18px;
    }

    .groupe:hover .heure p {
        display: none;
    }

    .groupe {
        max-height: 87%;
        width: 89%;
    }

    .conteneur-groupe {
        grid-row-gap: 0px;
    }


    .conteneur-forfait-reservation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }

    .forfaits {
        width: 247px;
        height: 313px;
        margin-right: 0px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border-radius: 10px;
        margin-top: 32px;
    }

    .conteneur-forfait p.admission2 {
        line-height: 22px;
    }

    main {
        margin-right: 10px;
        margin-left: 10px;
    }

    .conteneur-forfait-reservation {
        margin-right: 16px;
    }

    a.reservation {
        width: 247px;
    }

    .menu-burger {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 15;
    }

    .nav {
        margin-right: 0px;
    }

    .liens-nav {
        display: none;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        background-color: #000000;
        position: fixed;
        top: -30px;
        right: 0;
        width: 100%;
        padding: 20px;
        z-index: 10;
        height: 100vh;
        padding-top: 88px;
    }

    .logo {
        position: relative;
        z-index: 15;
    }

    .h1 {
        margin-top: 12%;
        margin-bottom: 0px;
        z-index: 1;
    }

    .liens-nav {
        margin-top: 0px;
        padding-right: 20px;
        padding-top: 100px;
    }

    h1 {
        font-size: 64px;
    }

    #back-to-top {
        bottom: 14px;
        padding: 5px 7px;
    }
}