/* Apply styles to the splash screen */
.splash-screen {
    background-color: #000000;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    /* Add the transition effect */
    z-index: 99;
    overflow: hidden;
}

/* Apply styles to the animated text */
.animated-text {
    font-size: 113px;
    color: transparent;
    background-image: linear-gradient(#ffffff, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    animation: textAnimation 3s linear infinite alternate;
}

/* Define the animation keyframes for the luminosity effect */
@keyframes textAnimation {
    0% {
        filter: brightness(0);
    }

    25% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(4);
    }

    75% {
        filter: brightness(6);
    }

    100% {
        filter: brightness(12);
    }
}

.main-content {
    z-index: 2;
    display: block;
}

.no-scroll {
    overflow: hidden;
}

@media screen and (min-width: 360px)and (max-width: 479px) {
    .animated-text {
        font-size: 90px;
    }

}

@media screen and (min-width: 320px)and (max-width: 359px) {

    .animated-text {
        font-size: 80px;
    }
}